 {"이름": "가톨릭관동대학교", "지역": "강릉", "잔디상태": "좋음", "시간당 사용료": 0, "한줄설명": "잔디가 좋지만, 관객석이 더러운 곳"},
{"이름": "문성고등학교", "지역": "강릉", "잔디상태": "좋음", "시간당 사용료": 0, "한줄설명": "고지대에 있어서 산에서 축구하는 느낌이 나는 곳"},
{"이름": "강릉고등학교", "지역": "강릉", "잔디상태": "좋음", "시간당 사용료": 0, "한줄설명": "소나무가 많아서 공기가 좋은곳"},
{"이름": "제일고등학교", "지역": "강릉", "잔디상태": "좋음", "시간당 사용료": 0, "한줄설명": "축구부가 있어 최고의 잔디를 느낄 수 있는 곳"},
{"이름": "강원대학교 강릉캠퍼스", "지역": "강릉", "잔디상태": "안좋음", "시간당 사용료": 20000, "한줄설명": "밤 11시까지 불이 켜지는 밤에도 축구하기 좋은 곳"},
{"이름": "강남축구공원", "지역": "강릉", "잔디상태": "안좋음", "시간당 사용료": 50000 , "한줄설명": "풋살장2개, 축구장2개가 있는 곳"},
{"이름": "엑스포잔디광장", "지역": "속초", "잔디상태": "좋음", "시간당 사용료": 0 , "한줄설명": "청초호 옆에 있어 호수도 갈 수 있지만, 골대가 없는 곳"},  
{"이름": "공지천인조잔디구장", "지역": "춘천", "잔디상태": "좋음", "시간당 사용료": 10000 , "한줄설명": "손흥민이 어린시절 아버지와 함께 훈련하던 곳"}
  
